<!-- comp info popup -->
<div class="popup_comp" style="display:none;">
  <!-- header -->
  <div class="popup_header">
    <p class="b1 bc1">상세정보</p>
    <a href="#" class="close"></a>
  </div>

  <!-- body -->
  <div class="popup_body">
    <div class="grades">
      <span class="grade">EWG 1등급</span>
    </div>
    <p class="h1 bc1">비오틴</p>
    <p class="b1 bc1">비오틴은 피부와 두발에 좋은 영향을 미치기 때문에 '비타민 H'로 지칭된다. 또한 비오틴은 혈구의 생성과 남성 호르몬 분비에 관여하며, 다른 비타민 B군과 함께 신경계와 골수의 기능을 원활하게 한다.</p>
  </div>

  <!-- footer -->
  <div class="popup_footer">
    <button class="normal b1 close">확인</button>
  </div>
</div>
