<!-- sign in popup -->
<div class="popup_sign_in" style="display:none;">
  <!-- header -->
  <div class="popup_header">
    <p class="b1 bc1">로그인</p>
    <a href="#" class="close"></a>
  </div>

  <!-- body -->
  <div class="popup_body">
    <p class="b1 bc1">발모 준비 되셨습니까? 로그인 후 이용해주세요</p>
    <div class="input_wrap">
      <input type="text" class="bd b1 bc1" placeholder="Email" />
      <span class="icon_at"></span>
    </div>
    <div class="input_wrap">
      <input type="text" class="bd b1 bc1" placeholder="Password" />
      <span class="icon_key"></span>
    </div>
    <button class="normal btn_login b1">LOGIN</button>
    <div class="text_wrap">
      <input id="auto_login" type="checkbox" />
      <label for="auto_login"></label>
      <span class="b1 bc1">자동 로그인</span>
      <a href="#" class="find_id_pass b1 bc1">아이디/비밀번호를 잊으셨나요</a>
    </div>
    <div class="btn_wrap">
      <div class="btn_kakao_wrap">
        <button class="kakao b1">카카오톡으로 로그인</button>
        <span class="icon_kakao"></span>
      </div>
      <div class="btn_naver_wrap">
        <button class="naver b1">네이버계정으로 로그인</button>
        <span class="icon_naver"></span>
      </div>
    </div>
  </div>

  <!-- footer -->
  <div class="popup_footer">
    <p class="b1 bc1">새로운 계정이 필요하시나요</p>
    <button type="popup_swap" class="normal btn_sign_up b1" swapto="sign_up">회원가입</button>
  </div>
</div>
